p-image {
  border-radius: 80%;
}

p-image img {
  border-radius: 3%;
  height: 300px;
  width: 300px;
}

.button1{
  border-radius: 15px;
  border: none;
  background-color: #E8434B;
}

.button1:hover{
  border: none;
  background-color: #d32d36;
}
