<ng-container class="mt-8"
*ngIf="{
  user: users$ | async
} as state"
>

<p-toolbar>
  <div class="p-toolbar-group-start mt-8 ">
    <h3 class="mt-2">Usuarios</h3>
  </div>

</p-toolbar>

<p-table
    #dt1
    [value]="state.user"
    [loading]="isLoading()"
    dataKey="id"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['first_name', 'last_name', 'id', 'email', 'is_staff']"
    styleClass="ml-3 mr-3"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt1.filterGlobal($event.target['value'], 'contains')"
            placeholder="Buscar"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="min-width: 8rem">
            ID Usuario
        </th>
        <th style="min-width: 10rem">
          Nombre
        </th>

        <th style="min-width: 10rem">
          Apellido
        </th>

        <th style="min-width: 10rem">
          Email
        </th>

        <th style="min-width: 10rem">
          Staff
        </th>

        <th style="min-width: 10rem" class="text-center">
         Opciones
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          {{ user.id }}
        </td>
        <td>
          {{ user.first_name }}
        </td>
        <td>
          {{ user.last_name }}
        </td>
        <td>
          {{ user.email }}
        </td>
        <td>
          {{ user.is_staff }}
        </td>

        <td class="text-center">
          <p-button
            (click) = "showUserUpdate(user)"
            [style]="
            {'border-radius': '50px','background-color': '#11ABE1', 'border': 'none'}"
            icon="pi pi-pencil"
          ></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No elementos encontrados.</td>
      </tr>
    </ng-template>
</p-table>
</ng-container>

<p-toast></p-toast>
