.nav{
  font-family: 'Heavitas';
  color: #11ABE1;
}

.icon{
  color: #11ABE1;
}
.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.sticky-nav.scrolled {
  background-color: rgb(255, 255, 255);
  transition: background-color 0.5s ease;
}

.nav1{
  font-family: 'Heavitas';
  color: white;
}

.inicio{
  border:none;
  border-radius: 5%;
  background-color: #E8434B;
}

.cesion{
  background-color: #E8434B;
}

.inicio:hover{
  border: none;
  background-color: #d32d36;
}
.button{
  color: #11ABE1;
}

p-button{
  color: #11ABE1;
}

#mi-dropdown .p-dropdown-label,
#mi-dropdown .p-dropdown-trigger {
  font-family: 'Heavitas', sans-serif !important;
  color: #11ABE1;
}

.mi-dropdown .p-dropdown-menu * {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.mi-dropdown .p-dropdown-menu .p-dropdown-item {
  padding-left: 0 !important;
  margin-left: 0 !important;
}


::ng-deep .p-dropdown-panel .p-dropdown-empty-message {
  margin: 0 !important;
  padding: 0 !important;
}
::ng-deep .p-dropdown .p-dropdown-items .p-dropdown-item {
  margin: 0 !important;
  padding: 0 !important;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
}
nav .logo1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 24px;
}
.logo1 .menu-icon{
  color: #11ABE1 ;
  font-size: 38px;
  margin-right: 14px;
  cursor: pointer;
}

.logo1 .menu-icon-close{
  color: #11ABE1 ;
  font-size: 28px;
  margin-right: 14px;
  cursor: pointer;
}

.logo1 .logo-name{
  color: #11ABE1;
  font-family: 'Heavitas';
  font-size: 46px;
  font-weight: 500;

}
nav .sidebar1{
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding:  0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar1{
  left: 0;
}
.sidebar1 .sidebar1-content{
  display: flex;
  height: 95%;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 16px;
}
.lists{
  margin: 0;
  padding: 0px;
}
.sidebar-content .list {
 list-style: none;
}
.list .nav-link{
  display: flex;
  align-items: center;
  padding: 14px 12px;
  border-radius: 8px;

  text-decoration: none;
}
.nav-link:hover{
  background-color: #11ABE1 ;
}
.nav-link .icon{
  margin-right: 14px;
  font-size: 20px;
  color: #707070;
}
.nav-link .link{
  font-size: 16px;
  color: #707070;
  font-weight: 400;
}
.nav-link:hover .icon,
.nav-link:hover .link{
  color: #fff;
}
.overlay1{
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 200%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.4s ease;
  pointer-events: none;
}

nav.open ~ .overlay1{
  pointer-events: auto;
  opacity: 1;
  left: 260px;
  z-index: 1000;
}

.span{
  color: #E8434B;

}
app-cart{
  height: 0px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 5px;
  right: 300px;

  @media (max-width: 988px) {
    width: 20px;
    height: 0px;
    top: 0px;
    right: 80px;
  }

  @media (max-width: 768px) {
    top: 0px;
    right: 80px;
  }
}


