h3{
  font-family: 'Heavitas';
}

button{
   background-color: #E8434B;
}

button:hover{
  border: none;
  background-color: #d32d36;
}

th{
  text-align: center;
}
td{
  width: 50px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.hola{
  background-color: #E8434B;
}
