.button{
  border-radius: 5%;
  background-color: #E8434B;
}

.button:hover{
  background-color: #c92b32;
}


.p-fileupload-choose {
  background-color: #11ABE1;
  color: white;
  border: none;
}

.p-fileupload-choose:hover {
  background-color: #098bbb;
  border: none;
}

.p-button.p-fileupload-cancel {
  background-color: red;
  color: white; 
  border: none;
}
