.images {
  text-align: end;
  height: auto;
}

#cat {
  height: 100vh;
  width: 90%;
}

.para {
  display: flex;
  align-items: center;
  text-align: center;
}
h2 {
  font-family: 'Heavitas';
  font-size: 55px;
}

.nombre{
  color: #11ABE1 ;
}

body{
  overflow: hidden;
}

