.p-fileupload-choose {
  background-color: #11ABE1;
  color: white;
  border: none;
}

.p-fileupload-choose:hover {
  background-color: #098bbb;
  border: none;
}

.p-button.p-fileupload-cancel {
  background-color: red;
  color: white;
  border: none;
}

.button{
  background-color: #E8434B;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover{
  border: none;
  background-color: #d32d36;
}

.button1{
  background-color: #11ABE1;
}

.button1:hover{
  background-color: #0d9dd1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
