<div class="flex">
  <div class="col-6">
    <label for="password">Nueva contraseña</label>
    <p-password
      [toggleMask]="true"
      placeholder="Nueva contraseña"
      (keypress)="onKeyDownPassword($event)"
      aria-describedby="password-help"
      [(ngModel)]="value"
    />
  </div>

  <div class="col-6">
    <label for="repeatPassword">Repetir Nueva contraseña</label>
    <p-password
      [toggleMask]="true"
      placeholder="Nueva contraseña"
      (keypress)="onKeyDownPassword($event)"
      aria-describedby="password-help"
      [(ngModel)]="repeatValue"
    />
  </div>
</div>
<div class="flex justify-content-center">
  <button
    (click)="onSubmit()"
    pButton
    pRipple
    icon="pi pi-send"
    class="lg:px-4 lg:py-2 mt-3 border-none font-medium border-round"
    label="Enviar"
  ></button>
</div>
